name: ESU Dev Build

on:
  push

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 250
          fetch-tags: true

      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          java-version: '22'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build ShadowJar
        run: gradle shadowJar --stacktrace

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ESU-Dev-Build-Jar
          path: bukkit/build/libs/*.jar
